.review {
  margin-bottom: 10px;
  padding: 5px 15px;
  border: 1px solid darkblue;
  border-radius: 10px;
  background-color: powderblue;
}
.review_body {
  font-size: 20px;
  font-style: italic;
  line-height: 1.8;
}

.review_author,
.review_date {
  font-size: 15px;
  font-weight: bold;
}
